body {
  background-color: #111;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}


  /****************/
 /**** Header ****/
/****************/

.header {
  padding: 0 220px;
  width: 960px;
  margin: 0 auto;
  /*font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
  /*background-color: #888;*/
  font-size: 0px;
}
header a {
  text-decoration: none;
}
.header-level-1 {
  height: 45px;
  background-color: #242424;
}
.header-level-2 {
  height: 60px;
  background-color: #fff;
}
.header-level-2 a:hover,
.right-navi-level-2 a.wishlist:hover,
.right-navi-level-2 a.cart:hover {
  color: #a5a5a5;
}
a.brand {
  display: inline-block;
  vertical-align: top;
  height: 45px;
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  color: #57c5a0;
  line-height: 45px;
  /*text-decoration: none;*/
}
.right-navi-level-1 {
  width: 760px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  /*background-color: #ddd;*/
  color: #7e7e7e;
}
.right-navi-level-1 a {
  color: #7e7e7e;
  /*text-decoration: none;*/
}
.right-navi-level-1 a:hover {
  color: #57c5a0;
}
a.search {
  display: inline-block;
  font-size: 15px;
  width: 60px;
  /*background-color: red;*/
  text-align: center;
  vertical-align: top;
  line-height: 45px;
}
a.search i {
  line-height: 45px;
}
.login-register {
  display: inline-block;
  font-size: 12px;
  width: 139px;
  height: 45px;
  line-height: 45px;
  border-right: 1px solid #383838;
  border-left: 1px solid #383838;
  /*background-color: orange;*/
  text-align: center;
}
.left-navi-level-2 {
  display: inline-block;
  padding-left: 10px;
  width: 700px;
  /*background-color: #333;*/
  border-collapse: collapse;
  vertical-align: top;
}
.left-navi-level-2 a {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  vertical-align: top;
  line-height: 60px;
  height: 60px;
  color: #242424;
  /*background-color: #555;*/
  font-size: 14px;
  border-right: 1px solid #eee;
}
.left-navi-level-2 a:first-child {
  border-left: 1px solid #eee;
}
.right-navi-level-2 {
  display: inline-block;
  width: 250px;
  text-align: right;
  /*background-color:#ddd;*/
}
.right-navi-level-2 a.wishlist,
.right-navi-level-2 a.cart {
  display: inline-block;
  width: 60px;
  font-size: 15px;
  border-right: 1px solid #ccc;
  padding-left: 23px;
  padding-right: 23px;
  line-height: 60px;
  text-align: center;
  color: #727272;
}
.right-navi-level-2 a:first-child {
  border-left: 1px solid #ccc;
}
.badge {
  display: inline-block;
  height: 19px;
  width: 19px;
  border-radius: 3px;
  line-height: 19px;
  vertical-align: middle;
  font-size: 13px;
  background-color: #adadad;
  color: #fff;
}
.wishlist .badge,
.cart .badge {
  margin-left: 3px;
}
.colored-bg {
  background-color: #57c5a0;
}


  /*****************/
 /**** Content ****/
/*****************/

.content {
  width: 1400px;
  height: 1700px;
  margin: 0 auto;
  font-size: 0px;
  background-color: #aaa;
}
.content a {
  text-decoration: none;
}

  /********************/
 /**** Top Slider ****/
/********************/
                    /*  Top slider - items */

.slide {
  position:relative;
}
.slide-info {
  position: absolute;
  width: 342px;
  /*background-color: #9f9f9f;*/
  top: 70px;
  left: 740px;
  color: #242424;
}
.price {
  color: #fff;
  font-size: 13px;
  background-color: #57c5a0;
  height: 68px;
  width: 68px;
  line-height: 69px;
  text-align: center;
}
.slide-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 23px;
}
.slide-desc {
  font-size: 19px;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #6e6e6e;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  margin-right: 2px;
}
.btn i {
  line-height: 40px;
}
a.btn:hover {
  color: #57c5a0;
}

/********************/
                    /*  Top slider - menu */

.slider-navi {
  padding-top: 6px;
  padding-left: 220px;
  padding-right: 220px;
  width: 960px;
  height: 84px;
  background-color: #2e2e2e;
}
.check-line {
  padding-left: 5px;
  padding-right: 5px;
  width: 950px;
  height: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #000;
}
.check-subline {
  display: inline-block;
  width: 180px;
  height: 100%;
  background-color: #57c5a0;
  margin-right: 5px;
  margin-left: 5px;
  visibility: hidden;
}
.check-subline.checked {
  visibility: visible;
}
.check-subline + .check-subline:before {
  visibility: visible;
  margin-left: -6px;
  content: '';
  display: inline-block;
  height: 100%;
  width: 2px;
  background-color: #777;
}
.slider-navi-items {
  /*background-color: #999;*/
  width: 950px;
  height: 70px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 4px;
  /*line-height: 40px;*/
  vertical-align: middle;
}
.slider-navi-items:before {
  content: '';
  line-height: 70px;
  height: 70px;
  /*vertical-align: middle;*/
}
.slider-item {
  display: inline-block;
  width: 180px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  /*background-color: #ddd;*/
  text-align: center;
}
.slider-item a {
  font-size: 17px;
  color: #acacac;
}
.slider-item a.active,
.slider-item a:hover {
  color: #fff;
}
.slider-item p {
  margin-top: 8px;
  font-size: 12px;
  color: #787878;
}

  /******************/
 /**** Specials ****/
/******************/

.specials {
  padding: 25px 220px;
  width: 960px;
  height: 180px;
  background-color: #444;
}
.special {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  width: 300px;
  height: 180px;
}
.special-caption {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 180px;
  /*background: rgba(0,255,0,0.3);*/
  font-size: 23px;
  text-align: center;
}
.special-caption:before {
  display: inline-block;
  content: '';
  height: 180px;
  line-height: 180px;
  vertical-align: middle;
}
.special-caption span {
  display: inline-block;
  color: #fff;
  height: 60px;
  padding: 0 25px;
  min-width: 130px;
  font-size: 24px;
  line-height: 60px;
  background: rgba(45,44,43,0.9);
}

  /***********************/
 /**** Best products ****/
/***********************/

.products {
  padding: 0 220px;
  /*padding-top: 19px;*/
  /*position: absolute;*/
  width: 960px;
  /*height: 747px;*/
  /*top: 50%;
  left: 50%;*/
  /*margin-top: -376px;
  margin-left: -700px;*/
  background-color: #ebe7df;
  /*padding-left: 217px;
  padding-right: 217px;*/
}
.products-container {
  width: 960px;
  /*height: 300px;*/
  font-size: 0;
}
.products-label {
  /*width: 960px;*/
  /*background-color: orange;*/
}
.products-label a {
  display: inline-block;
  width: 97px;
  height: 28px;
  line-height: 28px;
  margin: 0 10px;
  font-size: 14px;
  color: #bcb5a7;
  text-align: center;
  border: 1px solid #bcb5a7;
}
.products-label a:hover {
  color: #787878;
  border-color: #787878;
}
.products-label p {
  display: inline-block;
  width: 830px;
  /*background-color: red;*/
  padding: 36px 0;
  margin-left: 10px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 25px;
  color: #242424;
}
.product {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 269px;
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 31px;*/
  background-color: #777;
  vertical-align: top;
}
.product-img {
  width: 100%;
  height: 220px;
}
.product-caption {
  width: 300;
  height: 48px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: relative;
}
.product .price-marker {
  /*color: #fff;*/
  position: absolute;
  left: 13px;
  top: -20px;
  /*font-size: 13px;*/
  /*background-color: #57c5a0;*/
  /*height: 68px;
  width: 68px;
  line-height: 69px;
  text-align: center;*/
}
.info-marker {
  color: #fff;
  position: absolute;
  right: 13px;
  top: 0px;
  background-color: #242424;
  height: 68px;
  width: 68px;
  /*line-height: 69px;*/
  text-align: center;
}
.product .info-marker:before {
  content: '';
  width: 68px;
  line-height: 68px;
}
.product .info-marker span {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
}
.product-name {
  height: 100%;
  width: 206px;
  margin-left: 94px;
  line-height: 48px;
  font-size: 18px;
}
.product-menu {
  display: none;
  height: 100%;
  width: 219px;
  margin-left: 81px;
  line-height: 48px;
  font-size: 18px;
  text-align: center;
}
.product-menu a{
  color: #6e6e6e;
  display: inline-block;
  padding: 0 8px;
}
.product-menu a:hover {
  color: #57c5a0;
}
.price.active,
.orange-marker {
  background-color: #f27e4b;
}
